# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
eclipse

# vs code
.vscode

# idea
out
.fleet
.github
.DS_Store
DS_Store
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run
libs/cleanliquidbounce.jar
libs/liquidbounce-*
